/*
Projects can override this file. For details, see:
https://www.docsy.dev/docs/adding-content/lookandfeel/#project-style-files
*/

$primary: #000000;
$secondary: #F6EB13;
$info: #EF2623;
$light: #EF2623;
$blue: #EF2623;
$dark: #222020;